/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-historias .caja-4, .contenedor-historias .caja-3, .contenedor-historias .caja-2, .contenedor-historias .caja-1 {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0.5rem;
}

.contenedor-historias .caja-4 h1, .contenedor-historias .caja-3 h1, .contenedor-historias .caja-2 h1, .contenedor-historias .caja-1 h1 {
  font-size: 2rem;
  color: black;
}

.contenedor-historias .caja-4 h2, .contenedor-historias .caja-3 h2, .contenedor-historias .caja-2 h2, .contenedor-historias .caja-1 h2 {
  font-size: 1, 5rem;
  color: rgb(100, 28, 52);
}

/* Pantallas de celulares */
.contenedor-historias {
  display: grid;
  row-gap: 1rem;
  align-items: center;
  justify-items: center;
}
.contenedor-historias ul {
  display: grid;
  list-style: none;
  align-items: center;
  justify-items: center;
  margin: 0.5rem;
  text-align: center;
}
.contenedor-historias .storytelling {
  height: 100%;
  font-size: 1rem;
  text-align: left;
  color: whitesmoke;
  font-style: italic;
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: start;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
  }
  header {
    grid-area: header;
  }
  .contenedor-historias {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  .titulo {
    grid-row: span 1;
  }
  .contenedor-historias .caja-1 {
    grid-column: span 4;
    grid-row: span 4;
    margin: 2rem;
    align-self: center;
  }
  .contenedor-historias .caja-2 {
    grid-column: span 1;
    grid-row: span 2;
    align-self: start;
    margin: 1rem;
  }
  .contenedor-historias .caja-3 {
    grid-column: span 1;
    grid-row: span 3;
    align-self: start;
    margin: 1rem;
  }
  .contenedor-historias .caja-4 {
    grid-column: span 1;
    grid-row: span 2;
    align-self: start;
    margin: 1rem;
  }
}
/* Pantallas de celulares */
.contenedor-index {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  margin: 0.5rem;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 100%;
}
.contenedor-index h1 {
  color: rgb(100, 28, 52);
  font-size: 1.8rem;
}
.contenedor-index h2 {
  font-size: 1.2rem;
  color: black;
}
.contenedor-index h3 {
  height: 100%;
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
  font-style: oblique;
}
.contenedor-index p {
  font-size: 1rem;
  color: rgb(100, 28, 52);
  font-weight: bold;
}
.contenedor-index div .img-uno {
  width: 80%;
  height: 100%;
}
.contenedor-index div iframe {
  width: 100%;
  height: 100%;
}

/* Tablet */
/* Desktop */
@media screen and (min-width: 1024px) {
  .contenedor-index div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contenedor-index p {
    font-size: 1.5rem;
    font-weight: normal;
  }
  .contenedor-index iframe {
    height: 50vh;
    width: 50vw;
  }
}
/* Estilos generales */
body {
  background-color: rgb(110, 102, 102);
  font-family: "Instrument Serif", serif;
  font-size: 1rem;
}

/* Estilos de header para pantallas de celulares */
header {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
