// Import - archivos secundarios SASS

@import "../utilidades/variables";

/* HTML COMPRAR */
/*Pantalla de celular*/

.contenedor-comprar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $med-principal;
    row-gap: 0.5rem;

    h1 {
        color: $color-secundario;
        font-size: 1.8rem;
    }

    .comprar {
        font-size: 1.1rem;
        text-align: center;
        color: black;
        width: $med-principal;
    }

    ul {
        li {
            display: flex;
            flex-direction: column;
            list-style: none;
            align-items: center;
        }
    }

    .boton-comprar {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        text-decoration: none;
        font-size: 1.2rem;
        color: black;
    }

    .descripciones {
        color: rgb(223, 223, 220);
        font-size: 1rem;
        margin: 1rem;
        text-align: center;
    }

    .nombre-producto {
        font-size: 1.5rem;
        color: beige;
        text-align: center;
        margin: 1rem;
    }

    .precios {
        font-size: 1.5rem;
        color: $color-secundario;
    }

    .imagen-producto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* HTML COMPRAR */
/*Tablet*/

/* HTML COMPRAR */
/*Desktop*/

@media screen and (min-width:1024px) {

    .contenedor-comprar {
        .comprar {
            font-size: 1.4rem;
        }

        .descripciones {
            font-size: 1.5rem;
            text-align: center;
        }

        .nombre-producto {
            font-size: 1.7rem;
        }

        .boton-comprar {
            padding: 0.5rem;
            border-radius: 3rem;

            &:hover {
                font-size: 1.7rem;
            }

        }
    }
}