// Import - archivos secundarios SASS

@import "../utilidades/variables";

/* HTML CONTACTO */
/*Pantalla de celular*/

.contenedor-contacto {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0.5rem;
    height: 60.5vh;

    h1 {
        color: $color-secundario;
    }
}

/* HTML CONTACTO */
/*Tablet*/

@media screen and (min-width:600px) {
    .contenedor-contacto {
        height: 60vh;
    }
}

/* HTML CONTACTO */
/*Desktop*/

@media screen and (min-width:1024px) {
    .contenedor-contacto {
        height: 52.5vh;
    }
}