// Import - archivos secundarios SASS

@import "../utilidades/mixin";

/* HTML E-commerce */
/*Pantalla de celular*/

.contenedor-ecommerce {
    @include grid;
    gap: 2rem;
    margin: 1rem;
}

/* HTML E-commerce */
/*Tablet*/

@media screen and (min-width:600px) {
    .contenedor-ecommerce {
        margin: 1.2rem;
    }
}

/* HTML E-commerce */
/*Desktop*/

@media screen and (min-width:1024px) {

    .contenedor-ecommerce {
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 1rem;
        gap: 1rem;
        grid-template-areas:
            "header header header"
            "producto-1 producto-2 producto-3"
            "producto-4 producto-5 producto-6"
            "footer footer footer"
    }

    header {
        grid-area: header;
    }

    footer {
        grid-area: footer;
    }

    .producto-1 {
        grid-area: producto-1
    }

    .producto-2 {
        grid-area: producto-2
    }

    .producto-3 {
        grid-area: producto-3
    }

    .producto-4 {
        grid-area: producto-4
    }

    .producto-5 {
        grid-area: producto-5
    }

    .producto-6 {
        grid-area: producto-6
    }

}