// Import

@import "../utilidades/variables";

/* Pantallas de celulares */

.contenedor-index {
display: grid;
grid-template-columns: 1fr;
row-gap: 1rem;
margin: 0.5rem;
align-items: center; 
justify-items: center; 
text-align: center;
height: $med-principal;
    div .img-uno {
        width: 80%;
        height: $med-principal;
    iframe {
        width: $med-principal;
        height: $med-principal;
    }
    }
}


