// Import - archivos secundarios SASS

@import "../utilidades/variables";

/* HTML INDEX */
/* Pantallas de celulares */

.contenedor-index {
display: grid;
grid-template-columns: 1fr;
row-gap: 1rem;
margin: 0.5rem;
align-items: center; 
justify-items: center; 
text-align: center;
height: $med-principal;
h1 {
color: $color-secundario;
font-size: 1.8rem;
}
h2 {
font-size: 1.2rem;
color:black;
}
h3 {
height: $med-principal;
font-size: 1.5rem;
color:rgb(50, 50, 50);
font-style: oblique;
}
p {
font-size: 1rem;
color: $color-secundario;
font-weight: bold;
}

div {
img {
width: 80%;
height: $med-principal;
}

iframe {
width: $med-principal;
height: $med-principal;
}
}
}

/* HTML INDEX */
/* Tablet */

/*HTML INDEX*/
/* Desktop */

@media screen and (min-width:1024px){

.contenedor-index {
div img {
width: $med-principal;
height: $med-principal;
object-fit: cover;
}

p {
font-size: 1.5rem;
font-weight: normal;
}

div iframe {
width: 560px;
height: 315px;
}

}
}

