// Import - archivos secundarios SASS

@import "../utilidades/variables";
@import "../utilidades/mixin";

/* HTML STREAMS */

/* Pantalla de celular */

.contenedor-streams {
    @include flex;
    margin: 0.5rem;
    text-align: center;
    gap: 1rem;
    h1 {
        color: $color-secundario;
    }
    p {
        font-size: 0.9rem;
        color: $color-quinario;
        font-style: italic;
    }
    iframe {
        height: 90%;
        width: 90%;
    }

}

/* HTML STREAMS */
/* Tablets */

@media screen and (min-width:600px) {
    .contenedor-streams {
        p {
            font-size: 1.2rem;
        }
        iframe {
            height: 50vh;
            width: 60vw;
        }
    }
}

/* HTML STREAMS */
/* Desktop */

@media screen and (min-width:1024px) {

    .contenedor-streams {
        h1 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.6rem;
        }
        iframe {
            height: 60vh;
            width: 60vw;
        }
    }
}