// Paleta de colores principal 

$color-principal: rgb(110, 102, 102);
$color-secundario: rgb(100, 28, 52);
$color-terciario:  rgba(245, 245, 245, 0.594);
$color-cuaternario: rgb(50, 50, 50);
$color-quinario: black;
$color-setario: rgb(223, 223, 220);

// Medidas principales

$med-principal: 100%;